@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #f7e7f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
label {
  font-weight: 500;
  font-size: small;
}
span {
  font-size: x-small;
}
.traingle {
  clip-path: polygon(50% 25%, 10% 100%, 90% 100%);
}
/* @media (min-width: 768px) {
  label {
    font-weight: 600;
    font-size: medium;
  }
  span {
    font-size: smaller;
  }
} */
h1 {
  font-style: italic;
}

h1 div,
h2 .feat {
  font-family: "Oleo Script";
  color: #7648a2;
}
.star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
